html{
        font-family: Arial, Helvetica, sans-serif; 
        height:100%;
    }

body{
    background-color: #AAD4CF;
    max-width: 500px;
    }

/* attempting to add another colour to background */
.background-box{
    width: 500px;
    height: 100%;
    background-color: #D4E9E7;
    min-height: 100%;
    }

/* image header */
.header-image{
position: relative;
width: 100%;
}

.header{
    background: url("midterm-assets/lone-starfish-wide") ;
    display:flex;
    max-width: 500px;
}
#title {
    color: white;
    text-align: center;
    z-index: 1;
}

/* navigation bar */
.navbar>a{
    color: #ffffff;
    display: inline-block;
    padding-inline: 4px;
}   

/* starfish image left of paragraph*/
#starfish{
    width: 300px;
    height: 300px;
    float: left;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
}

/* facts about starfish*/
ul{
    list-style-type: disc;
}


/*contact form*/
input {
    width: 100%;
    padding: 11px 18px;
    margin: 8px 0; 
}
#textarea { 
    width: 100%;
    height: 126px;
    padding: 10px 20px;
}

/*attempting to fix arrangement*/
#options{
    display: inline-block;
}

/* footer*/
#footer{
    text-align: right;
    size: 10px;
}