head{
        font-family: sans-serif; 
    }
body{
    background-color: #AAD4CF;
}
.header{
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    color: white;
    background-image: url(lone-starfish-wide.jpg);
}

.text-block{
    color: white;
    position: absolute;
    background-color: transparent;
    text-align: center;
}

.navbar>a{
    color: #aad4cf;
    display: inline-block;
}   

.container{
    margin: 0 auto;
}
#starfish{
    width: 50px;
    height: 50px;
    float: left;
}



ul{
    list-style-type: disc;
}